#root {
  position: absolute;
  left: 0px;
  right: 0;
  width: 100%;
  float: left;
}
#app {
  position: absolute;
  top: 110px;
  bottom: 0;
  right: 200px;
  left: 0;
  margin: 0 0 0 auto;
  width: 435px;
  z-index: 2;
}

#heather {
  padding: 10px;
  margin-top: 50px;
  position: relative;
  top: 592px;
  display: block;
  left: 230px;
  bottom: 309px;
  padding-bottom: 50px;
  /* width: 100%; */
}

#reviews {
  padding: 10px;
  margin-top: 70px;
  position: relative;
  top: 600px;
  width: 100%;
}

.flex-item {
  width: 100%;
}

.top {
  position: relative;
}

#daily {
  position: absolute;
  right: 552px;
  float: right;
  top: 65px;
  text-align: center;
  color: black;
  letter-spacing: 4px;
  z-index: 10;
}
.cross {
  position: absolute;
  height: 70px;
  width: 100%;
  top: 580px;
}
.navright {
  display: inline-block;
  position: relative;
  left: 970px;
  top: 65px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  z-index: 10;
}
#getstarted {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: black;
  color: white;
}
#help {
  padding-right: 20px;
}
#login {
  padding-left: 20px;
}
#start {
  position: absolute;
  top: 580px;
  bottom: 0;
  right: 340px;
  left: 0;
  margin: 0 0 0 auto;
  z-index: 2;
  width: 270px;
  height: 40px;
  background-color: black;
  color: white;
}